* {
    box-sizing: border-box;
}

.food-link {
    font-weight: bold;
    padding: 12px;
    display: inline-block;
    background: lightskyblue;
    border-color: darkblue;
    border-style: solid;
    border-width: 4px;
    margin: 4px;
}

.tip {
    background-color: lightyellow;
}

.source {
    font-size: small;
}

h1 {
    font-family: serif;
    padding: 12px;
    background-color: gold;
    display: inline-block;
    margin-top: 10px;
}